<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/> >
</head>
<body>
    <h1>Cars List</h1>
    <div>
        <table>
            <tr>
                <th scope="col">Name</th>
            </tr>
            <tr th:each="car: ${cars}">
                <td th:text="${car.name}"></td>
                <td th:text="${car.color}"></td>
                <td th:text="${car.year}"></td>
            </tr>
        </table>
    </div>
</body>
</html>